.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  // width: 180px;
  // margin: auto;
  // position: absolute;
  // left: 0;
  // right: 0;
  margin-left: auto;
  color: var(--fc-7);
  padding: 0px;
  .next,
  .prev,
  .last,
  .first {
    font-size: var(--fs-14);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: var(--fc-7);
    text-align: center;
    transition: all ease .3s;
    border: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 0 0 1px #e2e6eb;
    flex-shrink: 0;
    background-color: var(--white);
    &:hover,
    &:focus {
      // box-shadow: 0 0 0 1px var(--primary-color);
      background-color: var(--ico-bg);
      color: var(--primary-color);
    }
    &.disabled {
      // pointer-events: none;
      opacity: .7;
      color: #999;
      cursor: not-allowed;
      &:hover {
        background-color: transparent;
      }
    }
    &.sel {
      color: var(--btn-c);
    }
  }
  .first {
    // margin-left: 10px;
    &:before {
      content: "\e929";
      font-family: var(--font-ico);
    }
  }   
  .last {
    // margin-left: 10px;
    &:before {
      content: "\e92a";
      font-family: var(--font-ico);
    }
  }
  .next {
    // margin-left: 10px;
    &:before {
      content: "\e92b";
      font-family: var(--font-ico);
    }
  }
  .prev {
    // margin-right: 10px;
    &:before {
      content: "\e92c";
      font-family: var(--font-ico);
    }
  }
  .select2-container {
    min-width: 60px;
    // margin: 0 8px;
    .select2-selection--single {
      height: 32px;
      .select2-selection__rendered {
        line-height: 26px;
      }
    }
  }
  span {
    // margin: 0 5px;
  }
  label {
    font-style: normal;
    // margin: 5px 5px 5px;
    &.txt {
      color: #b2b6bb;
    }
  }
  .edv-input {
    padding: 5px 5px;
    width: 35px;
    height: 30px;
    text-align: center;
  }
}