

.edv{
    &-qbank-wrap{
        padding: 20px;
    }
    &-questype{
    padding: 20px;
        .edv-input{
            padding: 6px 0;
            max-width: 200px;
            border-radius: unset;
            border: unset;
            border-bottom: 1px solid #d1d2d8;
            &:focus, &:hover{
                box-shadow: unset;
            }
        }
    }
    &-ques-choice {
        display: flex;
        gap: 30px;
        >div{
            display: flex;
            flex-direction: column;
            gap: 10px;
            >div{
                display: flex;
                align-items: center;
                gap: 10px;
                >i {
                    cursor: pointer;
                    font-size: var(--fs-11);
                }
            }
        }
    }
    &-ques-yesno{
        >div{
            max-width: 400px;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 10px;
        }
    }
    &-ques-file{
        >div{
            max-width: 400px;
        }
    }
    &-ques-blank{
        >div{
            display: flex;
            align-items: center;
            gap: 6px;
           
        }
    }
}

// questions shortage split up screen

.edv{
    &-ques-shortage{
        .edv-ques-termhd{
            background-color: var(--ico-bg);
            padding: 10px 20px;
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 20px;
            .qs-term-head{
                font-size: var(--fs-16);
                gap: 20px;
            }
        }
        .ques-container{
            border: 1px solid #dee1e5;
            border-radius: 6px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .term-section{
                display: flex;
                gap: 20px;
                label{
                    color: #727e98;
                    font-size: var(--fs-14);
                    span{
                    color: #333946;
                    font-size: var(--fs-14);
                    font-weight: 600;
                    }
                }
            }
            .lvl-section{
                display: flex;
                gap: 20px;
                font-weight: 600;
                font-size: var(--fs-14);
            }
        }
    }   
}
.edv-question {
    // overflow: hidden !important;
    // position: relative;
    display: flex;
    flex-direction: column;
    .edv-qn-scrl {
      overflow-y: auto;
      margin-bottom: 20px;
      table{
        margin-bottom: 0px;
      }
    }
}

