
   :root {
    --navtop: 50px;
    --lnav-w: 260px;
    --lnav-wmin: 60px;
    --lnav-a-color: var(--white);
    --lnav-bg: #0a466f;
    --primary-color: #0a466f;
    --hl-c: #fd9118;
    --fc-f: #fff;
    --fc-2: #212121;
    --fc-3: #333946;
    --fc-5: #575d68;
    --fc-7: #727e98;
    --fs-9: 9px;
    --fs-10: 10px;
    --fs-11: 11px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-48: 48px;
    --tab-c:#029f9d;
    --btn-c: #0a466f;
    --lnk-c: #029f9d;
    --brd-shd: #e5e8ed;
    --ico-bg: #f3f5f8;
    --white: #fff;
    --grey: #eff0f4;
    --tbl-border-color: #eaecef;
    --tbl-row-color: #f3f5f8;
    --dotted-ln: #dee1e5;
    --pop-shd: 0 0 16px 6px rgba(0, 0, 0, 0.07);
    --mdl-xs: 350px;
    --mdl-sm: 510px;
    --mdl-md: 780px;
    --mdl-lg: 980px;
    --mdl-xl: 1440px;
    --sts-pending: #f59507;
    --sts-reject: #ff5263;
    --sts-success: #0f9b5f;
    --sts-info: #1786d5;
    --sts-pending-bg: rgba(255, 152, 0, 0.1);
    --sts-reject-bg: rgba(255, 82, 99, 0.07);
    --sts-success-bg: #e5faf1;
    --sts-info-bg: #e9f2fb;
    --font-ico: ico-font;
    --font: Poppins-Regular;
    --font-medium: Poppins-Medium;
    --font-semibold: Poppins-SemiBold;
    --lnav-a-sel: linear-gradient(to bottom, #fff, #bafbfa);
    --ico-clr:#0d4a69;
    --tbl-hd-clr:#f9f9f9;
    --btn-bg-blue:#ecf9ff;
  }
  
